body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    font-weight: bold;


}
.conteneur{
width: 1000px;
}
.entete{
    display: flex;
    width: 100%;
}

.titre{
    width: 45%;
    /* background-color: red; */
}
.titre h1{
    color: #3d0a4e;
    font-size:  2rem;
    font-weight: bold;
    width: 80%;
}
.titre p{
    width: 340px;
    color: #777;
    margin-top: -8px;
}
.etoiles{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    margin-top: 15px;
}

.star1:hover, .star2:hover, .star3:hover{
    background-color: #dbdada;
}

.colton:hover, .irene:hover, .anne:hover {
    background-color: #8f33ad;
}

.star1{
    display: flex;
    background-color:#F7F3F7;
    width: 95%;
    height: 39px;
    border-radius: 10px;
    align-items: center;
    margin-left: 20px;
}

.star2{
    display: flex;
    background-color: #F7F3F7;
    width: 95%;
    height: 39px;
    border-radius: 10px;
    align-items: center;
    margin-left: 10px;
}

.star3{
    display: flex;
    background-color: #F7F3F7;
    width: 95%;
    height: 39px;
    border-radius: 10px;
    align-items: center;
    /* margin-top: 10px; */
}

span{
    margin-left: 10px;
}
.Stars{
    margin-left: 10px;
}
/* ---------------------------------------------------- */

.colton{
    background-color: #4b0a63;
    /* width: 90%; */
    border-radius: 10px;
    color: white;
    font-size: 0.95rem;
    font-weight: normal;
    padding: 7px;
}


.irene{
    background-color:#4b0a63;
    /* width: 90%; */
    border-radius: 10px;
    color: white;
    font-size: 0.95rem;
    font-weight: normal;
    padding: 7px;
}

.anne{
    background-color: #4b0a63;
    /* width: 100%; */
    border-radius: 10px;
    color: white;
    font-size: 0.95rem;
    font-weight: normal;
    margin-top: 10px;
    padding: 7px;
}

.users1{
    padding:9px;
}

.smith{
    width: 35%;
    margin-left: 60px;
    margin-top: -60px;
    color: white;
}

img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.smith h3{
    width: 100%;
    font-size: 1.1rem;
}
.buyer{
    margin-top: -15px;
    color: #c9a2db;
}

.corps{
    display: flex;
    gap: 10px;
}


/* media queri */


@media (max-width: 768px) {
/* media titre */
    .titre{
        width: 100%;
        text-align: center;
        background-color: white;
    }

    .titre h1{
    color: #3d0a4e;
    font-size:  2rem;
    width: 100%;
    font-weight: bold;
    }
    .titre p{
        text-align: center;
        width: 100%;
        color: #777;
        margin-top: -8px;
    }

    .entete{
    display: flex;
    flex-direction: column;
    width: 100%;
    }

    /* media etoile */

    .etoiles{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 15px;
    }

    .star1, .star2,.star3{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    margin: auto;
    }

    .corps{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    }

    .colton{
    background-color: #3d0a4e;
    width: 50%;
    border-radius: 10px;
    color: white;
    font-size: 0.95rem;
    font-weight: normal;
    margin: auto;
    }


    .irene{
    background-color: #3d0a4e;
    width: 50%;
    border-radius: 10px;
    color: white;
    font-size: 0.95rem;
    font-weight: normal;
    margin: auto;
    }

    .anne{
    background-color: #3d0a4e;
    width: 50%;
    border-radius: 10px;
    color: white;
    font-size: 0.95rem;
    font-weight: normal;
    margin-top: 10px;
    margin: auto;
    }

    .conteneur2{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* .star2 {
        display: flex;
        flex-direction: column;
        background-color: aquamarine;
        width: 95%;
        height: 39px;
        border-radius: 10px;
        align-items: center;
        margin: auto;
    }

    .star3{
        display: flex;
        flex-direction: column;
        background-color: aquamarine;
        width: 95%;
        height: 39px;
        border-radius: 10px;
        align-items: center;
        margin: auto;
    } */

}